@font-face {
    font-family: 'Resident Evil';
    src: url('ResidentEvil.woff2') format('woff2'),
        url('ResidentEvil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

