

p { font-size:1.2em;}

li { font-size: 1.2em; }

.nomargin { margin:0; font-size: 1.2em; }

nav-link active {
    background-color: #4CAF50;
}

.foo {
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.red {
  background: red;
}

.green {
  background: green;
}

.lightgreen {
  background: lightgreen;
}

.yellow {
  background: yellow;
}