#title{
	position: relative; 
	font-family: 'CRYSIS';
	font-size: 3.5em;
	left: 33%;
	top: 9vh;
	margin-right: 5vw;
	width: 50%;
	max-height: 12vh;
	animation: example;
}

.p30{padding-left: 1.95vw;}

.p10{padding-left: 0.65vw;}

.p10d{padding-left: 0.65vw;
	color: rgb(165, 16, 1);}

.p20{padding-left: 1.23vw;}

.p170{padding-left: 14vw;}

.p150{padding-left: 12vw;}


#positioning_text{
    top: 0vh;
	left: 0vh !important;
}

#sortInfo{
	position: relative;
	top: 0vh;
	left: 35%;
}


#newli{
	position: relative;
	top: 0vh;
	left: 35%;
	width: 30%;
	height: 10%;
}

#add-to-list{
	position: relative;
	top: 0vh;
	width: 10%;
	left: 35%;
}

#sortInfo li {
  transition: all 0.4s ease-out;
  opacity: 0;
}

#alg{
	position:relative; 
	left:15%;
	width:70%;
}

#sortInfo li.show {
	opacity: 1;
  	font-size: 1.2em;
	color: black;
	position:relative; 
	font-weight: bold;
	left:0.97vw;
}

#img
{
position: relative;
height:auto;
width:70%;
top: 5vh;
left: 5vw;
}

#img h2{
	font-size: 1.2em;
}