
#title{
	position: absolute; 
	font-family: 'the_pragueregular';
	font-size: 5em;
	left: 40%;
	top: 12vh;
	width: 50%;
	max-height: 9vh;
	animation: example;
}

.p12789{padding-left: 1.95vw;}

.pp{padding-left: 4.23vw;}

.p56{padding-left: 5.89vw;}

.pp1{padding-left: 5.20vw;}

.p3{padding-left: 3.9vw;}

.p7{padding-left: 4.55vw;}


#buttons .positioning_button{
	top: 0vh;
	left: 0.65vw;
}

#positioning_text{
    top: 0vh;
	right: 5vw;
}

@media only screen and (max-width: 850px) {
	#positioning_text h4{
		font-size: 0.99em;
	}
	#positioning_text h2{
		font-size: 1.5em;
	}
	#title{
		font-size: 2.8em;
		top: 35vh;
		left: 95%;
	}
}

table{
	position: relative;
	top: 9vh;
}

#sortInfo{
	position: relative;
	top: 12vh;
	left: 30%;
}

#sortInfo:hover {
	transform:  scale(1.1);
}